<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCloneApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice">
          <%= notice %>
        </p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert">
          <%= notice %>
        </p>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
